form {
  padding: 12px;
}

.main {
  padding: 24px;
}

.restart {
  margin-right: 24px;
}

.title {
  color: #1890ff;
  user-select: none;
}

nz-card {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

nz-select {
  width: 380px;
}

.new-rules {
  width: 160px;
}

.tool-bar {
  justify-content: space-between;
  > * {
    margin-right: 22px;
  }
}

.danger-btns {
  flex: inherit;

  > * {
    margin-left: 12px;
  }
}

.del {
  color: red;
}
