<ng-template #cardTitle>
  <a target="blank" href="https://github.com/laof/mogai">MOGAI</a>
</ng-template>
<nz-card [nzBordered]="false" [nzTitle]="cardTitle" [nzExtra]="extraTemplate">
  <div class="tool-bar">
    <button
      nz-button
      nzType="primary"
      class="download-ijs"
      (click)="download()"
    >
      <i nz-icon nzType="cloud"></i>
    </button>

    <button nz-button nzType="primary" class="new-rules" (click)="insert()">
      insert
    </button>
    <button nz-button nzType="primary" class="new-rules" (click)="rmodal()">
      rules
    </button>

    <button nz-button nzType="default" (click)="domain()">domain</button>

    <nz-select
      placeholder="type"
      nzShowSearch
      nzAllowClear
      nzPlaceHolder="Display by domain"
      [(ngModel)]="domainValue"
    >
      <nz-option
        *ngFor="let item of domainOfOption"
        [nzLabel]="item"
        [nzValue]="item"
      ></nz-option>
    </nz-select>

    <button
      (click)="resetart()"
      class="restart"
      nz-button
      title="restart"
      nzType="primary"
      nzDanger
      [disabled]="!switchValue"
    >
      <i nz-icon nzType="reload" nzTheme="outline"></i>
      Restart
    </button>
  </div>

  <ng-template #extraTemplate>
    <nz-switch
      (ngModelChange)="switchChange($event)"
      [(ngModel)]="switchValue"
    ></nz-switch>
  </ng-template>
</nz-card>

<div class="main">
  <nz-table #smallTable [nzData]="data" nzFrontPagination="false">
    <thead>
      <tr>
        <th>domain</th>
        <th>url</th>
        <th>resource type/run</th>
        <th>describe</th>
        <th>action</th>
        <th>use</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of smallTable.data; let i = index">
        <tr *ngIf="domainValue ? data.domain == domainValue : true">
          <td>{{ data.domain }}</td>
          <td>
            <a href="javascript:;" (click)="pop(data)">
              {{
                data.type == 0
                  ? formatterInsert(data)
                  : data.from + ' => ' + data.to
              }}
            </a>
          </td>
          <td>
            {{ data.run }}
          </td>
          <td>{{ data.describe }}</td>
          <td><a class="del" (click)="del(data.id)">delete</a></td>
          <td>
            <span class="status" (click)="itemUpdate(i)">
              <ng-container *ngIf="data.use; else ref">
                <i nz-icon nzType="check" nzTheme="outline"></i>
              </ng-container>
              <ng-template #ref>
                <i nz-icon nzType="close" nzTheme="outline"></i>
              </ng-template>
            </span>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
</div>
