form {
  padding: 12px;
}

.main {
  padding: 24px;
}

.restart {
  font-size: 12px;
  margin-right: 0;
}

.title {
  color: #1890ff;
  user-select: none;
}

nz-card {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

nz-select {
  flex: 1;
}

.new-rules {
  width: 140px;
}

.download-ijs {
  width: 52px;
}

.tool-bar {
  display: flex;
  > *:not(.restart) {
    margin-right: 22px;
  }
}

.status {
  cursor: pointer;
  user-select: none;
}

.danger-btns {
  flex: inherit;

  > * {
    margin-left: 12px;
  }
}

.del {
  color: red;
}
